* {
     margin: 0;
    padding: 0;
    outline: none;
     
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html {

    height: 100%;
    width: 100%;
    font: 13px/20px Verdana, sans-serif;
    text-align: center;
}
/*
body {
     height: 100%;
    width: 100%;
    background-color: rgba(151, 109, 208, 0.70);
    overflow: hidden;
}
*/

.card-img-top{
    height:50px;
    width:50px;
	padding: 3px;
    margin-right: auto;

}

.trophy-img-top{
    height:45px;
    width:41px;
	padding: 3px;
    margin-right: 2px;
    padding-left: 160px;

}

.header{
    
    background-image:url("../media/images/spblack.png");
/*
  background-color: rgb(157, 34, 60);
  background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
  background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
  background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
  background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
  border-bottom: 1px solid rgba(255,255,255,.1);
*/
  color: rgb(255,255,255);
  display: block;
   font-size: .85rem;
  font-weight: 700;
        height: 70px;
        letter-spacing: .5rem;
        line-height: 50px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
        transition: all .1s ease;
        text-decoration: none;
        text-align: center;
        margin-bottom: 20px;
}
.header .headerLabel{
	text-align: center;
	border: 15px;
	  font-size: 1.3rem;

	
}

p {
    padding-top: 10px;
  font-size: 1.3rem;
  line-height: 50px;
  text-align: center;
}
.card-body{
	width:90px;
    padding-top: 7px;
}



.card{
    
/*    background:url(../media/images/spacebackground.jpg);*/
    background-color: lightgrey;
    border:none;
    margin-right: 100%;
	text-align: left;
    font-weight: normal !important;
	display:inline-flex;

}

.LeaderBoardUserName
{
    display: inline;
	margin-left: 10%;
    color:black;

	
}

.orang {
    color:#ffa749;
    font-weight:bold;
}

.MasterContainer{
	border-style: solid;
	border-color: black;
	border-width: 1px;
    background-color: lightgrey;
	margin-top: 8px;
    margin-left: 15px;
    margin-right: 15px;
	padding: 3px;
     height:80%;
    position: relative;
    top: 20px;
    

}


.container-fluid {
    
font-weight: normal !important;
 display: block;
 height:60%;
	


}


