* {
     margin: 0;
    padding: 0;
    outline: none;
     
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html {

    height: 100%;
    width: 100%;
    font: 13px/20px Verdana, sans-serif;
    text-align: center;
}
p {
    padding-top: 10px;
  font-size: 1.3rem;
  line-height: 50px;
  text-align: center;
}
/*
body {
     height: 100%;
    width: 100%;
    background-color: rgba(151, 109, 208, 0.70);
    overflow: hidden;
}
*/

.card-img-top{
    height:200px;
    width:200px;
    margin:auto;
}

.header{
    
    background-image:url("../media/images/spblack.png");
/*
  background-color: rgb(157, 34, 60);
  background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
  background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
  background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
  background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
  border-bottom: 1px solid rgba(255,255,255,.1);
*/
  color: rgb(255,255,255);
  display: block;
  font-size: .85rem;
  font-weight: 700;
        height: 70px;
        letter-spacing: .5rem;
        line-height: 50px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
        transition: all .1s ease;
        text-decoration: none;
        text-align: center;
        margin-bottom: 20px;
}


/*
.container-fluid {
    text-align:center;
  height: 100%;
    width: 100%;
    margin:auto;

}
*/
/*
.MasterContainer{
    height:100%;
    width:100%;
}
*/


.card{
    
/*    background:url(../media/images/spacebackground.jpg);*/
    background-color: white;
    border:none;
    margin:auto;
    text-align: center;
    font-weight: normal !important;
}


.ProfileUsername{
    color:#ffa749;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.ProfileSettings{
    font-size: 14px;
    text-align: left;
    padding-left: 30px;
    padding-right: 60px;
    color:black;
}

.ProfileSettings h3{
    text-decoration: underline;
    color:black;
    margin-bottom: 15px;
    margin-top: 20px;

}
.SettingToggle{
    
    line-height: 100%;
    color:black;
    margin-bottom: 15px;
    padding-right: 153px;

}
.SettingToggle2{
    line-height: 100%;
    color:black;
    margin-bottom: 15px;
    padding-right: 180px;
}
.container-fluid {
    
font-weight: normal !important;
  display: inline-block;


}

.switch {
  position: relative;
  display: inline-block;
    width: 55px;
height: 30px;
     margin-bottom: 5px;
    
}

.SettingToggle label.switch{
    
    background-color: yellow;
    text-align: right;
    margin: auto;
}

.ProfileSettings label.switch{
    text-align: right;
    align-content: justify;
    display: inline-block;
}

.switch input {display:none;}

.slider {
     position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
    transition: .4s;}

 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
     transition: .4s;}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.submit input{
  width: 20%;
  background: #fff;
  padding:  3px;
  border: 2px solid #000000;
  text-align: center;
    font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;  
    margin-top: 30px;
}
.submit input:hover {
  background: #06D85F;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
  line-height: 50px;

}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #FF0000;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
    text-align: center;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.CamButton{
    text-align: center;
    margin: auto;
}
